{{template "header_component" .Data}}

<h1>{{.Msg.Name}}</h1>
<p>{{.Msg.Message}}</p>
<p></p>
<a href="/messages/update?id={{.Msg.Id}}">update</a>
- <a href="/messages/delete/process?id={{.Msg.Id}}">delete</a>

<hr>

<p><a href="/messages">Back to all messages</a></p>

{{template "footer_component"}}
